<nav>
    <div class="nav-wrapper light-blue darken-1">
        <ul class="right hide-on-med-and-down">
            <li><a href="#" title="Uploar video"><i class="material-icons">present_to_all</i></a></li>
            <li><a [routerLink]="['/login']" title="Login"><i class="material-icons">perm_identity</i></a></li>
        </ul>
    </div>
</nav>
  
  <div class="row">
  
  
      <!-- Contenedor play list -->
      <div class="col s5 m8 offset-m2">
          <div class="card blue-grey darken-1">
              <div class="card-content white-black">
                  <!-- incia contenedor de lso video del playlist -->
                  <div *ngFor="let video of playList">
                  <div id="lista" class="row">
                      <!-- imagen video playList -->
                      <div class="col s5 m3 video-small" >
                          <div class="cubierta">
                              
                          </div>
                          <img [src]="video.url" alt="">
                          <iframe  width="190" height="113" [src]="" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <!-- descripcion video PlayList -->
                      <div class="col s5 m7">
                          <ul>
                              <li><h5>{{video.titulo}}</h5></li>
                              <li>{{video.descripcion}}</li>
                              <li>Me gusta <span>{{video.like}}</span></li>
                              <li>No me gusta <span>{{video.nolike}}</span></li>
                          </ul>
                      </div>
                  </div>
                  </div>
                  <!-- fin contenedor video play list -->
              </div>
          </div>
      </div>
      <!-- contenedor del reproductor de video -->
  </div>